[user]
	name  = andrerocker
	email = andre.souza@gmail.com

[alias]
	br = branch
	ci = commit
	co = checkout
	pom = push origin master
	rank = shortlog -sn --no-merges
	st = status
	list-stable = !git tags | grep stable | sort -t . -k 1.8,1 -k 2,2 -k 3,3 -n
	list-testing = !git tags | grep testing | sort -t . -k 1.9,1 -k 2,2 -k 3,3 -n
	tags = !git for-each-ref refs/tags/* --format='%(refname)' --sort='authordate' | sed 's/refs\\/tags\\///g'
	tree = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	today = !git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative --since=$(date --rfc-3339=date --date=yesterday)
	unadd = reset HEAD --
        logs = log --show-signature

[apply]
	whitespace=fix

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = true

[core]
	editor = vim
	excludesfile = ~/.gitignore
	pager = less -FRSX

[help]
	autocorrect = 1

[push]
	default = matching
[url "git@github.com:"]
	insteadOf = https://github.com/
